name: Neovim plugin CI
on:
  workflow_call:
    inputs:
      test_os:
        description: "`runs-on` on test job"
        required: false
        default: '["ubuntu-latest", "macos-latest", "windows-latest"]'
        type: string
  workflow_dispatch:
  push:
    paths:
      - Makefile
      - .github/workflows/neovim-plugin-ci.yml

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJson(inputs.test_os || '["ubuntu-latest", "macos-latest", "windows-latest"]') }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: notomo/action-setup-nvim-lua@0314b24446fbad4f9cf1c2129f10fe7cd869f431 # v2.0.2

      - run: luarocks install vusted

      - uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1 # v1.6.0
        id: vim
        with:
          neovim: true
          version: nightly

      - run: make test
        env:
          VUSTED_NVIM: ${{ steps.vim.outputs.executable }}
